div.col-sm-6.col-sm-offset-3

  h1
    span.fa.fa-lock 
    |  Login

  // show any messages that come back with the authentication
  if message.length > 0
    div.alert.alert-danger #{message}
  
  // login form (TODO: remove 'action' and 'method' attributes?)
  form(action="/login" method="post" ng-submit="login(formData)" novalidate)
    div.form-group
      label(for="email") Email
      input(type="text" name="email" placeholder="email" ng-model="formData.email").form-control
    div.form-group
      label(for="password") Password
      input(type="password" name="password" placeholder="password" ng-model="formData.password").form-control
    button(type="submit").btn.btn-warning.btn-lg Login

  hr
  
  p
    | Need an account? 
    a(href="/signup") Signup
  p
    | Or go 
    a(href="/") home
    |.

  p Login or Register with:

  a(href="/auth/google").btn.btn-danger
    span.fa.fa-google-plus
    |  Google
