div.col-sm-6.col-sm-offset-3

  h1
    span.fa.fa-lock
    |  Login

  // show any messages that come back with the authentication
  if message.length > 0
    div.alert.alert-danger #{message}

  // login form (TODO: remove 'action' and 'method' attributes?)
  form(name="loginForm" ng-submit="login(formData)" novalidate)
    div(ng-class="{ 'has-error': showWarning(loginForm.email) }").form-group
      label(for="email") Email
      input(type="text" name="email" placeholder="email" ng-model="formData.email" required).form-control
      span(ng-show="showWarning(loginForm.email)").help-block Email is required
    div(ng-class="{ 'has-error': showWarning(loginForm.password) }").form-group
      label(for="password") Password
      input(type="password" name="password" placeholder="password" ng-model="formData.password" required).form-control
      span(ng-show="showWarning(loginForm.password)").help-block Password is required
    button(type="submit" ng-disabled="disableSubmit(loginForm)").btn.btn-warning Login

  hr

  p
    | Need an account?
    a(href="/signup")  Signup
  p
    | Or go
    a(href="/")  home
    |.

  p Login or Register with:

  a(href="/auth/google").btn.btn-danger
    span.fa.fa-google-plus
    |  Google
