div.col-sm-6.col-sm-offset-3

  h1
    span.fa.fa-sign-in
    |  Signup

  // show any messages that come back with the authentication
  if message.length > 0
    div.alert.alert-danger #{message}

  // Signup form (TODO: submit in angular controller - see NerdController)
  form(name="signupForm" ng-submit="signup(formData)" novalidate)
    div(ng-class="{ 'has-error': showWarning(signupForm.email) }").form-group
      label(for="email") Email
      input(type="text" name="email" placeholder="email" ng-model="formData.email" required).form-control
      span(ng-show="showWarning(signupForm.email)").help-block Email is required
    div(ng-class="{ 'has-error': showWarning(signupForm.password) }").form-group
      label(for="password") Password
      input(type="password" name="password" placeholder="password" ng-model="formData.password" required).form-control
      span(ng-show="showWarning(signupForm.password)").help-block Password is required
    button(type="submit" ng-disabled="disableSubmit(signupForm)").btn.btn-warning Signup

  hr

  p
    | Already have an account?
    a(href="/login")  Login
  p
    | Or go
    a(href="/")  home
    |.

  p Login or Register with:

  a(href="/auth/google").btn.btn-danger
    span.fa.fa-google-plus
    |  Google
