doctype html
html(lang="en")

  head
    title MEAN SPA
    // Meta
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    base(href="/")
    // Css
    link(rel="stylesheet" href="libs/font-awesome/css/font-awesome.min.css")
    link(rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet" href="css/style.css")
    // Js
    script(src="libs/angular/angular.min.js")
    script(src="libs/angular-route/angular-route.min.js")
    // Angular App
    script(src="js/app.js")
    script(src="js/appRoutes.js")
    script(src="js/controllers/MainCtrl.js")
    script(src="js/controllers/NerdCtrl.js")
    script(src="js/controllers/LoginCtrl.js")
    script(src="js/controllers/SignupCtrl.js")
    script(src="js/controllers/ProfileCtrl.js")
    script(src="js/controllers/ApplicationCtrl.js")
    script(src="js/interceptors/AuthInterceptor.js")
    script(src="js/services/SessionService.js")
    script(src="js/services/NerdService.js")
    script(src="js/services/AuthService.js")
    script(src="js/directives/LoginDialog.js")

  body(ng-app="meanApp" ng-contoller="ApplicationController")
    div.container

      // Header
      nav.navbar.navbar-inverse
        div.navbar-header
          a(href="/").navbar-brand Mean Stack
        // Navigation: handle routing
        ul.nav.navbar-nav
          li: a(href="/nerds") Nerds
        ul.nav.navbar-nav
          li: a(href="/login")
            span.fa.fa-user
            |  Login
        ul.nav.navbar-nav
          li: a(href="/signup")
            span.fa.fa-user
            |  Signup
        ul.nav.navbar-nav
          li: a(href="/profile")
            span.fa.fa-user
            |  Profile

      // ng-if/ng-switch remove elements from DOM entirely, so any template logic
      // (scope bindings, event handlers) within the elements will not be
      // reevaluated each digest cycle and slow it down
      div(ng-if="currentUser") Welcome, {{ currentUser.name }}
        div(ng-if="isAuthorized(userRoles.admin)") Yay!
        div(ng-switch on="currentUser.role")
          div(ng-switch-when="userRoles.admin") admin
          div(ng-switch-when="userRoles.editor") editor
          div(ng-switch-default) other

      // Angular Dynamic Content
      div(ng-view)

    // self-opening login dialog (don't want it to open when user is already on login page)
    div(login-dialog ng-if="!isLoginPage")
